body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#recent-queries pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

footer {
    font-size: 0.9rem;
    color: #6c757d;
}
